<% provide(:title, "Welcome") %>
<h1>Home</h1>
<p>Welcome to our home page</p>
<p>The Current season is: </p>
<p><%= get_season() %></p>
<p>Random Number between 0 & 100: </p>
<p><%= get_random_number(100) %></p>
<p>Count to 10:</p>
<p><%= count_to_10() %></p>
<p><%= get_random_welcome() %></p>